<#import "parts/common.html" as c>
<#import "parts/login.html" as l>
<@c.page>
<h3>User edit</h3>
<form action="/user" method="post">
    <input type="hidden" value="${_csrf.token}" name="_csrf">
    <input type="hidden" name="userId" value="${user.id}">
    <input type="text" name="username" value="${user.username}">
    <#list roles as role>
        <div>
            <label><input type="checkbox" name="${role}" ${user.roles?seq_contains(role)?string("checked", "")}>${role}</label>
        </div>
    </#list>

    <button type="submit">Сохранить</button>
</form>


</@c.page>