<#macro login path isRegisterForm>
<h3>Login</h3>
<form action="${path}" method="post">
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">UserName:</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control"/>
        </div>
     </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" name="password" class="form-control"/>
        </div>
    </div>

    <#if isRegisterForm>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control"/>
        </div>
    </div>
    </#if>

    <input type="hidden" name="_csrf" value="${_csrf.token}">

    <button type="submit" class="btn btn-primary"><#if isRegisterForm>Создать<#else>Войти</#if></button>
    <#if !isRegisterForm>
    <a href="/registration">Registration</a>
    </#if>

</form>
</#macro>


<#macro logout>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <button type="submit" class="btn btn-primary">Выйти</button>
    </form>
</#macro>


